body {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

hr {
	text-align: center;
	margin: 0 auto;
	opacity: 0.5;
}

ul {
	text-transform: uppercase;
}

ul.inline-list.right {
	text-transform: none;
}

ul.inline-list.right a{
	color: #000;
}

ul.inline-list.right a:hover {
	color: rgba(0, 0, 0, 0.5);
}

h1 {
	font-family: 'Droid+Sans', 'American Typewriter', 'Courier New', Courier, Monaco, mono;
	font-size: 45px;
	color: #fff;
	line-height: 28px;
	margin-top: 16px;
	margin-bottom: 15px;
	text-align: center;
}

h2 {
	font-family: 'Droid+Sans', 'American Typewriter', 'Courier New', Courier, Monaco, mono;
	color: #fff;
	font-size: 40px;
	line-height: 34px;
	padding-bottom: 10px;
}

h3 {
	font-family: 'American Typewriter', 'Courier New', Courier, Monaco, mono;
	font-size: 24px;
	color: #fff;
	line-height: 10px;
	text-align: center;	
	font-weight: 500;
	padding-bottom: 10px;
}

h4 {
	font-family: 'American Typewriter', 'Courier New', Courier, Monaco, mono;
	color: #000;
	font-size: 28px;	
	padding-top: 5px;
}

.columns.large-centered {
	padding-left: 5px;
	padding-right: 5px;
}

@media only screen and (max-width: 40em) {
	.columns.large-centered {
		font-size: 13px;
	}
}

@media only screen and (min-width: 40.063em) {
	.columns.large-centered {
		font-size: 14px;
	}
}

.about-box {
	color: #fff;
}

.black-box {
	background-color: rgba(0, 0, 0, 0.55);
	padding: 35px;
	font-weight: 900;
}

.black-box p {
	font-weight: 900;
}

.secondary.small.button {
	background-color: transparent;
	color: #fff;
	border: 2px #fff solid;
	border-radius: 5px;
	padding: 15px 50px 15px 50px;
	margin: 0;
}

.secondary.small.button:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.row .main-wrapper {
	color: #fff;
}

.about-content {
	background-color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.button-group li .button {
	border: 0 !important; 
}

.button {
	-webkit-appearance: none;
	background-color: transparent;
	padding: 10px;
	border-width: 0;
	text-align: center;
	box-shadow: 0 0 0;
}

.button:hover {
	color: rgba(255, 255, 255, 0.7);
	background-color: transparent;
}

button:hover, button:focus, .button:hover, .button:focus {
    background-color: #574D39; 
}


@media only screen and (min-width: 40.063em) {
  button, .button {
    display: inline-block; } }



/*Small Box Grid*/



/*Contact Form */


#contact-form {  
   background-color: #574D39; 
   width: 350px;  
   padding: 20px;  
   margin: 1px auto;  
   border-radius: 15px;    
   -moz-border-radius: 15px;  
   -webkit-border-radius: 15px;  
} 
  
#contact-form input,   
#contact-form select,   
#contact-form textarea,   
#contact-form label {  
   font-size: 15px;  
   margin-bottom: 2px;
   font-family: Arial, san-serif;
}  
  
#contact-form input,   
#contact-form select,   
#contact-form textarea {  
   width: 300px;
   background: #fff;
   border: 0; 
   -moz-border-radius: 5px;  
   -webkit-border-radius: 5px;  
   border-radius: 5px;
   margin-bottom: 25px;  
   padding: 5px;  
}  
  
#contact-form input:focus,   
#contact-form select:focus,   
#contact-form textarea:focus {  
   background-color: #E5E6E7; 
}  
  
#contact-form textarea {  
   height: 150px;   
}  

#contact-form #submit {  
   width: 400px;   
   color: #fff;  
   border: none;  
   background-color: #6EA070;
}  
  
#contact-form #submit:hover {  
   background-color: #BFD7C1;  
   color: #6EA070; 
}


input:required, textarea:required {  
   box-shadow: none;
   -moz-box-shadow: none;  
   -webkit-box-shadow: none;  
   -o-box-shadow: none;  
} 

#contact-form .required {  
   font-weight:bold;  
   color: #000;      
}

#failure, #success {
   color: #6EA070; 
   display:none;  
}

/* change link color a */

a {
  color: #898274;
  text-decoration: none;
  line-height: inherit; }
  a:hover, a:focus {
    color: #DCDAD6; }
  a img {
    border: none; }


footer p, footer a {
	padding-top: 5px;
	font-size: 14px;
	text-align: center;

}


.hero {
	padding-bottom: 15px;
	background-image: url("../img/cloud-tree.jpg");
	background-size: cover;
	background-position: center bottom;
	box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.2);
}

.hero-content {
	margin-bottom: 50px;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #EAEAEA;
	
}


.panel {
	margin: 1px 0 1px 0;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
	border: none;
	background-color: #EAEAEA;


.large-4 img {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.radius.right.button {
	color: #000;
	border: 2px #000 solid;
	border-radius: 5px;
	padding: 15px 50px 15px 50px;
	margin: 0;
	font-size: 0.8125em;
}

@media only screen and (min-width: 64.063em) {
	.radius.right.button {
		color: #000;
		border: 2px #000 solid;
		border-radius: 5px;
		padding: 15px 50px 15px 50px;
		margin-top: 25px;
		font-size: 0.8125em;
	}	
}

@media only screen and (min-width: 40.063em) {
	.radius.right.button {
		color: #000;
		border: 2px #000 solid;
		border-radius: 5px;
		padding: 15px 50px 15px 50px;
		margin-top: 25px;
		font-size: 0.8125em;
	}	
	
	#contact-form {
		height: 25%;
		float: left;
	}
}

.radius.right.button:hover {
	background-color: rgba(0, 0, 0, 0.1);
}