/*********************************
General
**********************************/

body {
	font-family: 'Roboto', 'Open-Sans', 'sans-serif';
}


body {
    background-color: #BCED91;
}

body {
	height: 100%;
    background-image: url(img/hackberry_tree_20131230_1040936985.png);
    background-repeat: no-repeat;
    background-size: cover;

   } 

   img {
  width: 500px;
  height: 500px;
  display: block;
  position: center;
}

img::after {
  content: "";
  background: url(img/hackberry_tree_20131230_1040936985.png);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}


a {
	text-decoration: none;
}

#wrapper {
	max-width: 940px;
	margin:0 auto;
	padding: 0 5%;
}
/*********************************
Heading
**********************************/

header {
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
}

#logo {
	text-align: center;
	margin: 0;
	text-decoration: none;
}

h1 {
	font-family: 'Roboto', sans-serif;
	margin: 15px 0;
	font-size: 2em;
	font-weight: normal;
}

h2 {
	font-size: 1em;
	margin: -5px 0 0;
	font-weight: normal;
}

a {
	color: #006600;
}

/********************************
Navagation
**********************************/
nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
}

nav ul{
	list-style: none;
	margin: 0 10px;
	padding: 0;

}

nav li {
	display: inline-block;
}


nav a {
	font-weight: 800;
	padding: 15px 10px;
}



















