/*********************************
General
**********************************/

body {
	font-family: 'Roboto', 'Open-Sans', 'sans-serif';
}


body {
    background-color: #87CEEB;
}

body {
	height: 100%;
   } 

 img {
  opacity: 0.5;
  max-width: 100%;
  width: 100%;
}




a {
	text-decoration: none;
}

#wrapper {
	max-width: 940px;
	margin:0 auto;
	padding: 0 5%;
}
/*********************************
Heading
**********************************/

header {
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
}

#logo {
	text-align: center;
	margin: auto;
	text-decoration: none;

}

h1 {
	font-family: 'Roboto', sans-serif;
	margin: 15px 0;
	font-size: 3em;
	font-weight: normal;
	text-align: center;
	
}

h2 {
	font-size: 1em;
	margin: -5px 0 0;
	font-weight: normal;
}

a {
	color: #006600;
}

/********************************
Navagation
**********************************/
.navbar {

	padding: 10px 10px;
	margin: auto;
}

.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;

nav ul{
	list-style: none;
	margin: 0 10px;
	padding: 0;

}

nav li {
	display: inline-block;
}


nav a {
	font-weight: 800;
	padding: 15px 10px;
}



















